<h1>{{username}}</h1>

<button (click)="viewFollowers()">View Followers</button>
<br>
<button (click)="viewFollowing()">View Following</button>
<br>

<div *ngIf="artistId">
    <button (click)="songs()">View Your Music</button>
    <br>
    <button (click)="disconnectSpotify()">Stop Being an Artist?</button>
</div>
<button (click)="spotifySetup()">Change Spotify Account?</button>
<div *ngIf="!artistId">
    <h2>Are you a Spotify Artist?</h2>
    <input id= "artistID" placeholder="Enter Artist ID">
    <button (click)="addArtist()">Become Artist</button>
</div>
<br>
<button (click)="back()">Back</button>
<h2>Want to Delete Account?</h2>
<button (click)="deleteAccount()">Delete Account PERMANENTLY</button>