<h1>{{username}}</h1>
<input id="follow" placeholder="Username of Friend" type="text">
<button (click)="follow()">Follow</button>
<br>
<button (click)="viewFollowers()">View Followers</button>
<br>
<button (click)="viewFollowing()">View Following</button>
<br>
<div *ngIf="!connectedToSpotify">
    <h2>Are You a Spotify Artist?</h2>
    <button (click)="spotifySetup()">Connect to Spotify?</button>
</div>
<div *ngIf="connectedToSpotify">
    <h2>Connected to Spotify</h2>
    <button (click)="disconnectSpotify()">Disconnect Spotify</button>
</div>
<br>
<button (click)="back()">Back</button>
<h2>Want to Delete Account?</h2>
<button (click)="deleteAccount()">Delete Account PERMANENTLY</button>