
<div>
    <input id= "username" type="text" placeholder="Username">
    <br>
    <input id ="password" type="text" placeholder="Password">
    <br>
    <input id ="email" type="text" placeholder="Email">
    <br>
    <input id ="bio" type="text" placeholder="Bio">
    <br>
    <input id ="city" type="text" placeholder="City">
    <br>
    <input id ="state" type="text" placeholder="State">
    <br>
    
    <button (click)="register()">Register</button>
</div>
<div>
    <button (click)="back()">Back</button>
</div>